# Path to the zamboni root.
ZAMBONI_DIR = '/Users/jbalogh/dev/zamboni'

# Directory where chief should redirect output. Make sure it exists.
# Make sure Apache can read this dir so we can see the deploy output.
OUTPUT_DIR = '/tmp'

# The app requires this secret before taking any action.
PASSWORD = ''

# Redis connection parameters. Everything is passed directly to redis.Redis, no
# default settings are added.
REDIS_BACKENDS = {
    'master': {
        'host': 'localhost',
        'port': 6379,
        'password': None,
        'db': 0,
        'socket_timeout': 0.1,
    },
}
