<title>CHIEF</title>
<style>
button {
  background: red;
  font-size: 32px;
  font-family: monospace;
  margin: 1em 0 0;
  padding: .2em;
  border: none;
  border-radius: 6px;
  box-shadow: inset 0 0 .3em;
  text-shadow: 0 0 .3em #fff;
  cursor: pointer;
}
button:hover {
  font-weight: bold;
  box-shadow: inset 0 0 .3em,
                    0 0 1em red;
}
button:active {
  color: white;
}
</style>
<form method="post" action="">
  <input name="tag" placeholder="webapp tag">
  <input name="password" type="password" placeholder="secret">
  <input name="who" placeholder="identify yourself">
  <br>
  <button>BIG RED BUTTON</button>
</form>
